source https://api.nuget.org/v3/index.json
framework: netstandard2.0
storage: none

nuget FSharp.Core >= 7
nuget Npgsql >= 7 < 10
nuget Npgsql.NetTopologySuite >= 7 < 10

group tests
  frameworks net9.0
  storage: none
  source https://api.nuget.org/v3/index.json
  nuget Microsoft.NET.Test.Sdk
  nuget xunit
  nuget xunit.runner.visualstudio
  nuget FSharp.Core ~> 9
  nuget Npgsql ~> 9
  nuget Npgsql.NetTopologySuite ~> 9

group tpsdk
  frameworks netstandard2.0
  storage: none
  source https://api.nuget.org/v3/index.json

  github kerams/FSharp.TypeProviders.SDK:f src/ProvidedTypes.fsi
  github kerams/FSharp.TypeProviders.SDK:f src/ProvidedTypes.fs