source https://api.nuget.org/v3/index.json
framework: netstandard2.0
storage: none

nuget FSharp.Core >= 7 lowest_matching: true
nuget Npgsql >= 6 < 8
nuget Npgsql.NetTopologySuite >= 6 < 8

group tests
  frameworks net7.0
  storage: none
  source https://api.nuget.org/v3/index.json
  nuget Microsoft.NET.Test.Sdk
  nuget xunit
  nuget xunit.runner.visualstudio
  nuget FSharp.Core ~> 7
  nuget Npgsql >= 6 < 8 prerelease
  nuget Npgsql.NetTopologySuite >= 6 < 8 prerelease

group tpsdk
  frameworks netstandard2.0
  storage: none
  source https://api.nuget.org/v3/index.json

  github kerams/FSharp.TypeProviders.SDK:f src/ProvidedTypes.fsi
  github kerams/FSharp.TypeProviders.SDK:f src/ProvidedTypes.fs